@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-danger {
    --bs-btn-color: black !important;
}
.btn-secondary {
    --bs-btn-color: black !important;
}

.btn-primary {
    --bs-btn-color: black !important;
}